{% extends "base.html" %} {% block title %}Home|ToDo{% endblock title %} 
{% block body %}

<div class="flex flex-wrap justify-evenly items-center">
  {% for i in started_tasks %} {% comment %}
  <div class="max-w-xl mx-3 my-4">
    <div class="relative group">
      <div
        class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-pink-600 rounded-lg blur opacity-25 group-hover:opacity-50 transition duration-1000 group-hover:duration-200"
      ></div>
      <div
        class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
      >
        <svg class="w-8 h-8 text-purple-600" fill="none" viewBox="0 0 24 24">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M6.75 6.75C6.75 5.64543 7.64543 4.75 8.75 4.75H15.25C16.3546 4.75 17.25 5.64543 17.25 6.75V19.25L12 14.75L6.75 19.25V6.75Z"
          ></path>
        </svg>
        <div class="space-y-2">
          <h4 class="text-slate-800 font-bold">{{i.title}}</h4>
          <p class="text-slate-800">{{i.desc|truncatechars:50}}</p>
          <a
            href="#"
            class="block text-indigo-400 group-hover:text-slate-800 transition duration-200"
            target="_blank"
            >Open Task →</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endcomment %} {% endfor %}

  <div class="mx-auto container py-20 px-6">
    <div class="flex justify-between">
      <h3 class="text-3xl font-semibold mb-3">Your Tasks</h3>
      <a
        class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700 rounded-xl"
        href="{% url 'create' %}"
        >Create Task</a
      >
    </div>

    <div
      class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6"
    >
      {% if tasks %} {% for i in tasks %}
      <div class="rounded">
        <div
          class="w-full h-52 flex flex-col justify-between items-start dark:bg-gray-800 bg-blue-100 mb-6 py-5 px-4"
        >
          <div class="">
            <a href="{% url 'task' id=i.id %}">
              <h4 class="text-gray-800 dark:text-gray-100 font-bold mb-3">
                {{i.title}}
              </h4>
            </a>
            <p class="text-gray-800 dark:text-gray-100 text-sm text-wrap">
              {{i.desc|truncatechars:50}}
            </p>
          </div>
          <div class="w-full flex flex-col items-start">
            {% if i.ended == True %}
            <div
              aria-label="time"
              role="contentinfo"
              class="mb-3 border bg-red-500 border-gray-800 rounded-full px-3 py-1 text-gray-800 dark:text-gray-400 dark:border-gray-700 text-xs flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-alarm"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <circle cx="12" cy="13" r="7"></circle>
                <polyline points="12 10 12 13 14 13"></polyline>
                <line x1="7" y1="4" x2="4.25" y2="6"></line>
                <line x1="17" y1="4" x2="19.75" y2="6"></line>
              </svg>
              <p class="ml-2">Task ended</p>
            </div>

            {% endif %} {% if i.started == True %}
            <div
              id="changeColor"
              aria-label="time"
              role="contentinfo"
              class="mb-3 border bg-yellow-400 border-gray-800 rounded-full px-3 py-1 text-gray-800 dark:text-gray-400 dark:border-gray-700 text-xs flex items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-alarm"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z"></path>
                <circle cx="12" cy="13" r="7"></circle>
                <polyline points="12 10 12 13 14 13"></polyline>
                <line x1="7" y1="4" x2="4.25" y2="6"></line>
                <line x1="17" y1="4" x2="19.75" y2="6"></line>
              </svg>
              <p class="ml-2">In progress</p>
            </div>
            {% endif %}

            <div
              class="flex items-center justify-between text-gray-800 dark:text-gray-100 w-full"
            >
              <p class="text-sm">Created by {{i.user}}</p>
              <a
                href="{% url 'update' id=i.id %}"
                class="w-8 h-8 ml-16 rounded-full bg-gray-800 dark:text-gray-800 dark:bg-gray-100 text-white flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black"
                aria-label="edit note"
                role="button"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-trash"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z"></path>
                  <path
                    d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"
                  ></path>
                  <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
                </svg>
              </a>
              <a
              
                href="{% url 'delete' id=i.id %}" 
                class="w-8 h-8 rounded-full bg-red-800 dark:text-gray-800 dark:bg-gray-100 text-white flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>


      

      {% endfor %} {% else %}
      <div class="w-full text-center">
        <h1 class="w-max text-center text-3xl text-gray-400 m-auto">
          Please create your task..
        </h1>
      </div>
      {% endif %}
    </div>
  </div>
</div>


{% endblock body %}
